In [110]:
import pandas as pd

In [111]:
df = pd.read_csv('boston_housing_titles.csv')

In [112]:
df.head()

,1,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,continuous,continuous,continuous,continuous,discrete,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous,continuous
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6
3,3.0,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
4,4.0,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4

In [113]:
df.isna().sum()

1          1
crim       1
zn         1
indus      1
chas       1
nox        1
rm         1
age        1
dis        1
rad        1
tax        1
ptratio    1
black      1
lstat      1
medv       1
dtype: int64

In [114]:
df = df.drop(index = 0, axis = 0)
df = df.drop(index = 1, axis = 0)

In [115]:
df.reset_index(drop= True , inplace= True )

In [116]:
df = df.drop('1', axis = 1)

In [117]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.9,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.43,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
501,0.04527,0.0,11.93,0,0.573,6.12,76.7,2.2875,1.0,273.0,21.0,396.9,9.08,20.6
502,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.9,5.64,23.9
503,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
504,0.04741,0.0,11.93,0,0.573,6.03,80.8,2.505,1.0,273.0,21.0,396.9,7.88,11.9

In [118]:
from sklearn.model_selection import train_test_split

In [119]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=888)

In [120]:
X_train, X_test, y_train, y_test

(        crim    zn  indus chas    nox     rm    age     dis   rad    tax  \
 453  9.51363   0.0   18.1    0  0.713  6.728   94.1  2.4961  24.0  666.0
 424  15.8603   0.0   18.1    0  0.679  5.896   95.4  1.9096  24.0  666.0
 201  0.02177  82.5   2.03    0  0.415   7.61   15.7    6.27   2.0  348.0
 98    0.0686   0.0   2.89    0  0.445  7.416   62.5  3.4952   2.0  276.0
 255  0.01538  90.0   3.75    0  0.394  7.454   34.2  6.3361   3.0  244.0
 ..       ...   ...    ...  ...    ...    ...    ...     ...   ...    ...
 115  0.13158   0.0  10.01    0  0.547  6.176   72.5  2.7301   6.0  432.0
 150  1.49632   0.0  19.58    0  0.871  5.404  100.0  1.5916   5.0  403.0
 239  0.11329  30.0   4.93    0  0.428  6.897   54.3  6.3361   6.0  300.0
 493  0.27957   0.0   9.69    0  0.585  5.926   42.6  2.3817   6.0  391.0
 410  14.0507   0.0   18.1    0  0.597  6.657  100.0  1.5275  24.0  666.0

     ptratio   black  lstat
 453    20.2    6.68  18.71
 424    20.2    7.68  24.39
 201    14.7  395.38   3.11
 98     18.0   396.9   6.19
 255    15.9  386.34   3.11
 ..      ...     ...    ...
 115    17.8   393.3  12.04
 150    14.7   341.6  13.28
 239    16.6  391.25  11.38
 493    19.2   396.9  13.59
 410    20.2   35.05  21.22

 [353 rows x 13 columns],
         crim    zn  indus chas    nox     rm   age     dis   rad    tax  \
 212  0.14052   0.0  10.59    0  0.489  6.375  32.3  3.9454   4.0  277.0
 274  0.09604  40.0   6.41    0  0.447  6.854  42.8  4.2673   4.0  254.0
 12   0.62976   0.0   8.14    0  0.538  5.949  61.8  4.7075   4.0  307.0
 503  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889   1.0  273.0
 363  3.47428   0.0   18.1    1  0.718   8.78  82.9  1.9047  24.0  666.0
 ..       ...   ...    ...  ...    ...    ...   ...     ...   ...    ...
 237  0.08244  30.0   4.93    0  0.428  6.481  18.5  6.1899   6.0  300.0
 13   0.63796   0.0   8.14    0  0.538  6.096  84.5  4.4619   4.0  307.0
 159  1.27346   0.0  19.58    1  0.605   6.25  92.6  1.7984   5.0  403.0
 318  0.47547   0.0    9.9    0  0.544  6.113  58.8  4.0019   4.0  304.0
 375   15.288   0.0   18.1    0  0.671  6.649  93.3  1.3449  24.0  666.0

     ptratio   black  lstat
 212    18.6  385.81   9.38
 274    17.6   396.9   2.98
 12     21.0   396.9   8.26
 503    21.0  393.45   6.48
 363    20.2  354.55   5.29
 ..      ...     ...    ...
 237    16.6  379.41   6.36
 13     21.0  380.02  10.26
 159    14.7  338.92    5.5
 318    18.4  396.23  12.73
 375    20.2  363.02  23.24

 [152 rows x 13 columns],
 453    14.9
 424     8.3
 201    42.3
 98     33.2
 255    44.0
        ...
 115    21.2
 150    19.6
 239    22.0
 493    24.5
 410    17.2
 Name: medv, Length: 353, dtype: object,
 212    28.1
 274    32.0
 12     20.4
 503    22.0
 363    21.9
        ...
 237    23.7
 13     18.2
 159    27.0
 318    21.0
 375    13.9
 Name: medv, Length: 152, dtype: object)

In [121]:
print(X_train.shape)
print(X_test.shape)

(353, 13)
(152, 13)

In [122]:
from sklearn.linear_model import LinearRegression

In [123]:
my_linear = LinearRegression()

In [124]:
%%time
my_linear.fit(X_train, y_train)

Wall time: 15 ms

LinearRegression()

In [125]:
pred = my_linear.predict(X_test)
#pred

In [126]:
test_pred = X_test.copy()

In [127]:
test_pred['predict'] = pred
test_pred['medv'] = y_test

In [128]:
test_pred[['predict','medv']].head()

       predict  medv
212  25.075368  28.1
274  34.183486  32.0
12   19.661636  20.4
503  26.472661  22.0
363  38.684910  21.9

In [129]:
from sklearn.metrics import mean_squared_error

In [130]:
print('Ошибка RMSE c random seed 888 =',mean_squared_error(y_test, pred))

Ошибка RMSE c random seed 888 = 23.361128777402897

In [131]:
pr = []


for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size = 0.3, 
                                                    random_state = i)
    my_linear = LinearRegression()
    my_linear.fit(X_train, y_train)
    pred = my_linear.predict(X_test)
#     print('Ошибка c random seed=',i,' RMSE =',mean_squared_error(y_test, pred))
    pr.append(mean_squared_error(y_test, pred))

pd.Series(pr).mean()

24.342287113395784